* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(222, 217, 217);
}

.login-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 25rem;
  background-color: white;
  border-radius: 2rem;
}
